<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Posts Index Page</h1>
    <h2>Postings</h2>
    {% for post in posts %}
    <div>
       <h3><a href="/posts/{{post.id}}">{{post.title}}</a></h3>
        <p>{{post.body}}</p>
        <p>{{post.datePublished}}</p>
        <form action="/posts/{{ post.id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete Post">
        </form>
        <a href="/posts/{{post.id}}/edit">Edit</a>
    </div>
    {% endfor %}
    <a href="/posts/new">Create new Post</a>

</body>

</html>